@{
    ViewBag.Title = "API Events";
    Layout = "_Layout";
}

<div class="container" ng-controller="apiEventsCtrl">
    <div class="page-header">
        <h3>
            API Events <small>({{ count }} connections)</small>
        </h3>
    </div>
    
    <pre ng-bind-html="eventsRawDump"></pre>

</div>