@model int

@{
    ViewBag.Title = "Event Info page";
    Layout = "_Layout";
}

<div class="container" ng-controller="eventInfoCtrl" ng-init="eventId=@Model; fetchInfo()">
    <div class="page-header">
        <h3>Count of RSVP students: {{event.students.length}}</h3>
    </div>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Fullname</th>
            <th>Country</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in event.students">
                <td>{{student.fullname}}</td>
                <td>{{student.country}}</td>
                <td>{{student.email}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="unMapStudent($event, student.studentId)">
                        Remove RSVP
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <hr/>

    <div>
        <h3>Manually assign student</h3>

        <div>
            <div class="form-group">
                <label>Available Students</label>

                <select class="form-control" ng-model="studentId">
                    <option value="{{student.id}}" ng-repeat="student in availableStudents">{{student.fullname}}</option>
                </select>
            </div>
            
            <input class="btn btn-primary" type="submit" value="Add Student" ng-click="mapStudent($event)"/>
        </div>
    </div>
    
    <hr/>

    <div>
        <h3>Sent Ad-Hoc email to RSVPed students</h3>

        <div>
            <div class="form-group">
                <label>Subject</label>
                <input type="text" class="form-control" ng-model="emailSubject" />
            </div>
            
            <div class="form-group">
                <label>Email body</label>
                <textarea class="form-control summernote" rows="5"></textarea>
            </div>
            
            <input class="btn btn-primary" type="submit" value="Sent Email" ng-click="sendAdHocEmail($event)" />
        </div>
    </div>

</div>