@model object

@{
    ViewBag.Title = "Available Mappings";
    Layout = "_Layout";
}

<div class="panel panel-default">
    <div class="panel-heading">Available Mappings</div>
    <div class="panel-body">
        <div class="list-group">
            <a href="~/Mapping/StudentDriverMapping" class="list-group-item">Student-Driver Mapping</a>
            <a href="~/Mapping/DriverHostMapping" class="list-group-item">Driver-Host Mapping</a>
        </div>
    </div>
</div>