API/bin
API/obj

DAL/bin
DAL/obj

Logic/bin
Logic/obj

Models/bin
Models/obj

\.idea/

API/database\.sqlite

*.min.js
style.min.css
.DS_Store
milwaukee-internationals-netcore\.sln\.DotSettings\.user

milwaukee-internationals-netcore\.sln\.DotSettings\.user

node_modules
client-build
*.sqlite-*

launchSettings.json
imageid.txt
