@model Models.Entities.Event

@{
    ViewBag.Title = "Register Event";
    Layout = "_Layout";
}

<div class="container">
    <div class="page-header">
        <h3> Event Registration </h3>
    </div>
    
    <br />
    
    @await Html.PartialAsync("SimpleAlertContent", ViewData)
    
    @using (Html.BeginForm("RegisterEvent", "Registration", FormMethod.Post))
    {
        @await Html.PartialAsync("EventContent", Model)

        <input class="btn btn-primary" type="submit" value="Register" />
    }
</div>
