@model object

@{
    ViewBag.Title = "Available Registration forms";
    Layout = "_Layout";
}

<div class="panel panel-default">
    <div class="panel-heading">Available Registration forms</div>
    <div class="panel-body">
        <div class="list-group">
            <a href="~/Registration/Driver" class="list-group-item">Driver Registration</a>
            <a href="~/Registration/Student" class="list-group-item">Student Registration</a>
            <a href="~/Registration/Host" class="list-group-item">Host Registration</a>
        </div>
    </div>
</div>