@using Models.Constants
@inject GlobalConfigs _globalConfigs

@{
    ViewBag.Title = "Registration Failed";
    Layout = "_Layout";
}

<h2>Sorry, Tour Registration is Closed!</h2>
<br/>
<h4>
    We are sorry but the tour registration is closed and all the seats
    have been filled. Please email Asher Imtiaz (<a href="mailto:asherimtiaz@gmail.com">asherimtiaz@gmail.com</a>) to schedule a tour later.
    Follow our <a href="https://www.facebook.com/Milwaukeeinternationals/">Facebook page</a> for more events and gatherings.
</h4>
<br/>
<br/>