@model Models.Entities.Student

@{
    ViewBag.Title = "2019 Free Tour of Milwaukee Registration";
    Layout = "_Layout";
}

<div class="text-center">
    <img class="img-responsive" src="~/images/Tour-of-Mke-Ads_App-Wide.png" alt="background" />
</div>

<div class="container">
    <div class="page-header">
        <h2 class="text-center">2019 Free Tour of Milwaukee Registration</h2>
        <h4 class="text-center">Date and Time: August 31, 2019 at 12:00 noon</h4>
        <h4 class="text-center">Location: <a href="https://goo.gl/maps/ZQUsoLLzzQQc8vveA" target="_blank">Lubar Hall Lobby (Business Building)</a></h4>
        <p class="text-center"><a href="https://www.facebook.com/Milwaukeeinternationals/">Questions? Click here to send us a message on our Facebook page</a></p>

    </div>

    <br />

    @using (Html.BeginForm("RegisterStudent", "Registration", FormMethod.Post, new { ng_controller = "studentRegistrationCtrl" }))
    {
        @(await Html.PartialAsync("StudentContent", Model, new ViewDataDictionary(ViewData) {{ "Type", "Save"}}))
        
        <input class="btn btn-primary" type="submit" value="Register For Tour" />
    }
</div>
