@model Models.Enums.EntitiesEnum
@using Models.Constants
@using Models.Enums
@inject GlobalConfigs GlobalConfigs;
@{
    ViewBag.Title = "Registration Complete";
    Layout = "_Layout";
}

<h2>Thank you for the registration!</h2>

<h4>You will receive a confirmation email shortly. You can also check your spam folder and mark us as safe sender for future communication.</h4>
<br/>

@if (Model == EntitiesEnum.Student)
{
    <br/>
    <h4>@(GlobalConfigs.TourDate.Year) Tour of Milwaukee Registration</h4>
    <h4>Date: @(GlobalConfigs.TourDate.ToString("dddd, MMMM d, yyyy"))</h4>
    <h4>Time: 12:00 noon </h4>
    <h4>Address: @(GlobalConfigs.TourAddress)</h4>
    <h4>Location: @(GlobalConfigs.TourLocation)</h4>
    <h4>If you need any sort of help (furniture, etc.), please contact Asher Imtiaz (414-499-5360) or reply to the registration email.</h4>
}