@{
    ViewBag.Title = "Registration Complete";
    Layout = "_Layout";
}

<h2>Thank you for the registration!</h2>

<h3>You will receive a confirmation email shortly. You can also check your spam folder and mark us as safe sender for future communication.</h3>
