<div class="container page-header">
    <h2 class="text-danger text-center">Email service</h2>
</div>

@using (Html.BeginForm("Email", "UtilityController", FormMethod.Post, new {@class = "form-horizontal", ng_controller = "driverRegistrationCtrl", ng_init = "requireNavigator = true; role = true;"}))
{
    
}

<form action="/utility/email" method="post" class="">
    <div class="form-group">
        <label for="subject" class="control-label col-sm-3">Subject:</label>
        <div class="col-sm-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="students" name="students"/>Students
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="drivers" name="drivers"/>Drivers
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="hosts" name="hosts"/>Hosts
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="users" name="users"/>Users
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="subject" class="control-label col-sm-3">Subject:</label>
        <div class="col-sm-9">
            <input id="subject" type="text" name="subject" placeholder="Enter your subject" required="required" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label for="text" class="control-label col-sm-3">Text:</label>
        <div class="col-sm-9">
            <textarea id="text" type="text" name="text" placeholder="Enter text" rows="10" required="required" class="form-control summernote"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-primary NaN">Send email</button>
        </div>
    </div>
</form>