@if (ViewData.TryGetValue("Error", out var value))
{
    <div class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
        <strong>Error!</strong> @value
    </div>
}

@if (ViewData.TryGetValue("Message", out var value1))
{
    <div class="alert alert-success alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
        <strong>Success!</strong> @value1
    </div>
}