@model Models.ViewModels.ProfileViewModel

@{
    Layout = "_Layout";
}

<div class="container">
    @using (Html.BeginForm("Update", "Profile", FormMethod.Post, new {}))
    {
        @(await Html.PartialAsync("UserContent", Model, new ViewDataDictionary(ViewData) {{"Type", "Edit"}}))

        <input class="btn btn-primary" type="submit" value="Update"/>
    }
</div>