@model IEnumerable<Models.Driver>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container" ng-controller="driverListCtrl">
    <div class="page-header">
        <h3>List of Drivers</h3>
        
        <div class="clearfix">
            <button class="btn btn-default pull-right" ng-click="getAllDriversPDF()">Download PDF</button>
        </div>
    </div>
    
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Fullname</th>
            <th>Email</th>
            <th class="hidden-xs">Phone</th>
            <th>ction</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var driver in Model)
        {
            <tr>
                <td>@driver.Fullname</td>
                <td>@driver.Email</td>
                <td>@driver.Phone</td>
                <td class="hidden-xs">
                    <a href="~/Driver/delete/@driver.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
