@using API.Interfaces
@using Models.Constants
@using Models.Enums
@inject IHttpRequestUtilityBuilder RequestUtilityBuilder;
@inject GlobalConfigs GlobalConfig

@{
    ViewBag.Title = "Student Attendance";
    Layout = "_Layout";
    var userInfo = await RequestUtilityBuilder.For(Context).GetUserInfo();
}

<div class="container" ng-controller="driverAttendanceCtrl">
    <div class="page-header">
        <h3>
            Driver Attendance 
            <small> (+{{ getCountPresentDrivers() }}, -{{ getCountAbsentDrivers() }}) </small>
        </h3>
        
        @if (userInfo.UserRoleEnum == UserRoleEnum.Admin)
        {
            <div class="row">
                <div class="col-sm-7 col-sm-offset-5 col-md-6 col-md-offset-6 col-lg-5 col-lg-offset-7">
                    <div class="pull-right">
                        <button class="btn @(GlobalConfig.EmailTestMode ? "btn-primary" : "btn-danger")" ng-click="checkInViaEmail()">Send Check-In via email</button>
        
                        <a class="btn @(GlobalConfig.SMSTestMode ? "btn-primary" : "btn-danger")"
                           href="~/Sms/Driver"
                           validate-before-going data-message="Are you sure to send SMS confirmation email to drivers)?">Send SMS check-in</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div>
        <form>
            <div class="form-group">
                <label for="fullname">Fullname:</label>
                <input id="fullname" type="text" ng-change="updateTable()" ng-model="fullname" ng-model-options="{ debounce: 300 }" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Filter by attendance:</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="opt-radio" value="all" ng-model="attendanceFilter" ng-change="updateTable()" checked="checked"/>Show All ({{ getCountAllDrivers() }})
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="opt-radio" value="yes" ng-model="attendanceFilter" ng-change="updateTable()"/>Show Present ({{ getCountPresentDrivers() }})
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="opt-radio" value="no" ng-model="attendanceFilter" ng-change="updateTable()"/>Show Absent ({{ getCountAbsentDrivers() }})
                    </label>
                </div>
            </div>
        </form>
        <hr/>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Fullname</th>
                <th>Capacity</th>
                <th>Checked-in</th>
                <th>Host</th>
                <th>Navigator</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="driver in drivers track by driver.id">
                <td>{{driver.fullname}} ({{ driver.displayId }})</td>
                <td>{{driver.capacity}}</td>
                <td class="col-xs-4 col-sm-2">
                    <toggle ng-model="driver.isPresent" ng-change="changeAttendance(driver)" on="Present" off="Absent" size="btn" onstyle="btn-success" offstyle="btn-default" toggle-class="quick"></toggle>
                </td>
                <td>{{driver.host ? driver.host.fullname : ""}}</td>
                <td>{{driver.navigator ? driver.navigator : ""}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>