@model object

@{
    ViewBag.Title = "Available Attendance forms";
    Layout = "_Layout";
}

<div class="panel panel-default">
    <div class="panel-heading">Available Attendance forms</div>
    <div class="panel-body">
        <div class="list-group">
            <a href="~/Attendance/Student" class="list-group-item">Student Attendance</a>
            <a href="~/Attendance/Driver" class="list-group-item">Driver Attendance</a>
        </div>
    </div>
</div>