@using API.Interfaces
@using Models.Constants
@using Models.Enums
@inject IHttpRequestUtilityBuilder RequestUtilityBuilder;
@inject GlobalConfigs GlobalConfig

@{
    ViewBag.Title = "Student Attendance";
    Layout = "_Layout";
    var userInfo = await RequestUtilityBuilder.For(Context).GetUserInfo();
}

<div class="container" ng-controller="studentAttendanceCtrl">
    <div class="page-header">
        <h3>
            Student Attendance 
            <small> (+{{ getCountPresentStudents() }} [total count: {{ getTotalCountPresentStudents() }}], -{{ getCountAbsentStudents() }}) </small>
        </h3>

        @if (userInfo.UserRoleEnum == UserRoleEnum.Admin)
        {
            <div class="row">
                <div class="col-sm-7 col-sm-offset-5 col-md-6 col-md-offset-6 col-lg-5 col-lg-offset-7">
                    <div class="pull-right">
                        <button class="btn @(GlobalConfig.EmailTestMode ? "btn-primary" : "btn-danger")" ng-click="checkInViaEmail()">Send Check-In via email</button>
        
                        <a class="btn @(GlobalConfig.SMSTestMode ? "btn-primary" : "btn-danger")"
                           href="~/Sms/Student"
                           validate-before-going data-message="Are you sure to send SMS confirmation email to students)?">Send SMS check-in</a>
                    </div>
                </div>
            </div>
        }
        
    </div>

    <div>
        <form>
            <div class="form-group">
                <label for="fullname">Fullname:</label>
                <input id="fullname" type="text" ng-change="updateTable()" ng-model="fullname" ng-model-options="{ debounce: 300 }" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="country">Country:</label>
                <div ng-if="countries().length > 0">
                    <select id="country" name="country" ng-change="updateTable()" ng-model="country" class="form-control">
                        <option value="{{ kv.country }}" ng-repeat="kv in countries() track by kv.country">{{kv.country}} ({{ kv.count }})</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Filter by attendance:</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="opt-radio" value="all" ng-model="attendanceFilter" ng-change="updateTable()"/>Show All ({{ getCountAllStudents() }})
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="opt-radio" value="yes" ng-model="attendanceFilter" ng-change="updateTable()"/>Show Present ({{ getCountPresentStudents() }}) [total={{ getTotalCountPresentStudents() }}]
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="opt-radio" value="no" ng-model="attendanceFilter" ng-change="updateTable()" checked="checked"/>Show Absent ({{ getCountAbsentStudents() }})
                    </label>
                </div>
            </div>
        </form>
        <hr/>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Fullname</th>
                <th>Country</th>
                <th>Checked-in</th>
                <th>Driver</th>
                <th>Host</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="student in students track by student.id">
                <td>{{student.fullname}} {{ student.isFamily ? "[+" + student.familySize + "]" : "" }} {{ student.kosherFood ? "[H]" : "" }} {{ student.maskPreferred ? "[M]" : "" }}</td>
                <td>{{student.country}}</td>
                <td class="col-xs-4 col-sm-2">
                    <toggle ng-model="student.isPresent" ng-change="changeAttendance(student)" on="Present" off="Absent" size="btn" onstyle="btn-success" offstyle="btn-default" toggle-class="quick"></toggle>
                </td>
                <td ng-if="student.driver != null">{{student.driver ? ( student.driver.fullname + " (" + student.driver.displayId +  ")" ) : ""}}</td>
                <td ng-if="student.driver == null">
                    
                    <div class="row">
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="student.driverId">
                                <optgroup label="{{hostFullname}}" ng-repeat="(hostFullname, drivers) in availableDriversBuckets">
                                    <option value="{{driver.id}}" ng-repeat="driver in drivers" ng-disabled="!availableDriversTable[driver.id]">
                                        {{driver.fullname}} [ {{ resolvePassengers(driver) }} / {{ driver.capacity }} ] {{ driver.haveChildSeat ? "[C]" : "" }}
                                    </option>
                                </optgroup>
                                
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <a ng-click="addDriverMap(student.id, student.driverId)" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                    </div>
                </td>
                <td>{{(student.driver && student.driver.host) ? student.driver.host.fullname : ""}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
