@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <div class="page-header">
        <h1>You are not authenticated, please try login (again!)</h1>
    </div>
    <p>If this problem persist, please contact the site adminstrator</p>
</div>