@model List<Models.Entities.Location>

@{
    ViewBag.Title = $"Places {DateTime.Now.Year}";
    Layout = "_Layout";
}

<div class="container">
    <h2>@(DateTime.Now.Year) Tour of Milwaukee Guide</h2>
    <p>
        This guide includes directions and information about various key sights around Milwaukee. Look over a map
        before leaving to familiarize yourself with the route. Try to help the driver know about the next turn well
        in advance. Please REQUIRE all passengers to wear their seat belt throughout the tour. For questions or
        additional info, call Marie at 414-852-5132 or Asher at 414-499-5360
    </p>            
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var location in Model)
        {
            <tr>
                <td>@(location.Name)</td>
                <td><a href="https://www.google.com/maps/place/@location.Address" target="_blank">@location.Address</a></td>
                <td>@(location.Description)</td>
            </tr>
        }
        </tbody>
    </table>
    
    <hr />

    <h5>
        Thank you for coming on the tour. I hope that you have enjoyed seeing our city. We are now going to a
        home for our dinner.
    </h5>
</div>