@{
    ViewBag.Title = $"Places {DateTime.Now.Year}";
    Layout = "_Layout";
}

<div class="container">
    <h2>@(DateTime.Now.Year) Tour of Milwaukee Guide</h2>
    <p>
        This guide includes directions and information about various key sights around Milwaukee. Look over a map
        before leaving to familiarize yourself with the route. Try to help the driver know about the next turn well
        in advance. Please REQUIRE all passengers to wear their seat belt throughout the tour. For questions or
        additional info, call Marie at 414-852-5132 or Asher at 414-499-5360
    </p>            
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Number</th>
            <th>Direction</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>
                Turn right (north) on Maryland
            </td>
            <td>
                <p>
                    You may point out the Stensberg home at 3473 North Maryland (on the left about 5 houses before
                    Edgewood). Rob and Amy Stensberg host a free dinner for international students and scholars each
                    Friday beginning at 6:30 PM. A great place to meet new friends!
                </p>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <ul class="list-group">
                    <li class="list-group-item">
                        Turn left (west) on Edgewood
                    </li>
                    <li class="list-group-item">
                        Turn right (north) on Oakland
                    </li>
                </ul>
            </td>
            <td>
                <p>
                    Point out various stores like Sendicks and Walgreens, as well as coffee shops & restaurants.
                </p>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                Turn left (north) onto Lake Drive when Oakland ends (follow Hwy ‘32’ as it curves)
            </td>
            <td>
                <p>
                    Note Lake Michigan on the right. Point out the homes on Lake Drive. Lake Drive turns at Silver Spring.
                </p>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>
                Stay straight (west) on Silver Spring Drive (‘32’ turns to the right at the light)
            </td>
            <td>
                <p>
                    Again you can talk about the various stores and restaurants as you drive them. This is also a great
                    time to begin asking the students about themselves, such as their country, family, & major . . . .
                </p>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>
                Turn left (south) onto Port Washington Road
            </td>
            <td>
                <p>
                    Note that Bay Shore Mall is on the right, a good place especially for buying clothes and gifts.
                    Kopp's Custard is on the right a few blocks south of Silver Spring, you may stop there if you wish
                    for a scoop of their wonderful ice cream.
                </p>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>
                <p>
                    Turn left (east) on Hampton Avenue, then right either on Lydell to go through the park or at
                    Wilson Boulevard to go to Capitol Drive. Right on Capitol, over the bridge.
                </p>
            </td>
            <td>
                <p>
                    There are many stores; grocery, Walmart, Aldi, Goodwill and restaurants ahead on Capitol.
                </p>
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td>
                Turn left (south) on Humboldt Blvd. Continue south to Brady Street turn left on Brady street.
            </td>
            <td>
                <p>
                    Colectivo coffee shop on the right – good coffee shop; nice park on the left (Humboldt and Keefe)
                    Watch for the " car garden" on the right just after Center Street. If you turn right on Center
                    Street, the second house on the second block is called a Polish Flat. This was how some of the
                    earlier immigrants to Milwaukee accommodated their relatives when they arrived after them. Go
                    around the block to get back to Humboldt.
                </p>
            </td>
        </tr>
        <tr>
            <td>8</td>
            <td></td>
            <td>
                This part of Milwaukee is called “River West”
            </td>
        </tr>
        <tr>
            <td>9</td>
            <td></td>
            <td>
                <p>
                    This is another good time for some conversation. You can ask some further questions or tell them a
                    little about yourself, your family, or what brought you to Milwaukee.
                </p>
            </td>
        </tr>
        <tr>
            <td>10</td>
            <td></td>
            <td>
                <p>
                    Brady Street is a popular hangout for college students and young adults. This ten-block district
                    is packed with shops, cafes, galleries, clubs and pubs.
                </p>
            </td>
        </tr>
        <tr>
            <td>11</td>
            <td>
                <p>
                    Turn right on Farwell to Ogden, this corner has more than one street, make sure you turn onto Ogden.
                    Continue until Ogden Avenue ends at Broadway.
                </p>
            </td>
            <td>
                <p>
                    This area of Milwaukee is known as “East Town.” Watch for the soccer field for MSOE on top of the
                    parking ramp as you go down the hill to Broadway.
                </p>
            </td>
        </tr>
        <tr>
            <td>12</td>
            <td>
                Turn left (south) on Broadway
            </td>
            <td>
                <p>
                    We are now driving through the campus area of the Milwaukee School of Engineering (MSOE), a well
                    known and high quality school.
                </p>
            </td>
        </tr>
        <tr>
            <td>13</td>
            <td></td>
            <td>
                <p>
                    On your right (a few blocks after turning onto Broadway) is the old Blatz Brewery, now remodeled
                    into condominiums and offices. Some of the original industrialist in Milwaukee were Brewers of beer.
                </p>
            </td>
        </tr>
        <tr>
            <td>14</td>
            <td>
                <p>
                    Turn left (west) on State Street. Stop #1 at River Walk for 20 minutes
                    (just before going over the bridge, turn to the right, which is Edison Street, and park)
                </p>
            </td>
            <td>
                <p>
                    Here we can see the Milwaukee Riverwalk. The Riverwalk offers art displays, shops, a variety of
                    restaurants, and what is called the Downtown Theater Disctict. This includes the Marcus Center for
                    the Performing Arts and the Pabst Theater, a National Historic Landmark since 1895. It is the 4th
                    oldest continuously operating theatre in the entire US. Known for fine acoustics and its beautiful
                    Victorian Baroque design.
                </p>
            </td>
        </tr>
        <tr>
            <td>15</td>
            <td>
                <p>
                    Go back to State Street and go west to 6th Street (just 4 blocks after the bridge) Turn right onto
                    6th Street, on your right is the new Arena.
                </p>
            </td>
            <td>
                <p>
                    The new Fiserv Forum is on the corner of McKinley and 6th Street, it serves as home to the
                    Milwaukee Bucks basketball team as well as a concert and convention venue. In 2020 it will host
                    the Democratic National Convention.
                </p> 
            </td>
        </tr>
        <tr>
            <td>16</td>
            <td>
                <p>
                    Turn right into McKinley for 2 blocks to 4th Street. Turn left (south) on 4th Street. (Stay in
                    center lane at Wells St and continue south.
                </p>
            </td>
            <td>
                <p>
                    Note on the right side the Hyatt Hotel with a revolving restaurant on top
                </p>
            </td>
        </tr>
        <tr>
            <td>17</td>
            <td>
                <p>
                    At the corner of 4th Street and St. Paul Avenue, before turning, point out the Amtrak Station,
                    Greyhound Bus Station, and US Post Office on the right in front
                </p>
            </td>
        </tr>
        <tr>
            <td>18</td>
            <td>
                <p>
                    Turn left (east) on St. Paul Avenue. Stop # 2 at Milwaukee Public Market – 20 minutes
                    (parking lot entrance requires you to make a left (north) onto N. Water Street and then
                    almost an immediate right turn (under the overpass) into the parking lot.
                </p>
            </td>
            <td>
                <p>
                    The Milwaukee Public Market features twenty specialty food vendors. It is open every day except
                    Monday, with an open market on Saturday and Sunday. Hint: the market has nice, clean bathrooms
                    upstairs!
                </p>
            </td>
        </tr>
        <tr>
            <td>19</td>
            <td>
                <p>
                    When leaving the Market, exit left onto Clybourn (it is a one way street), then turn left on
                    N. Water Street (south)
                </p>
            </td>
            <td>
                Lots of restaurants and shops on this street.
            </td>
        </tr>
        <tr>
            <td>20</td>
            <td>
                Left (east) on Chicago Street
            </td>
            <td>
                We are now driving through the Historic Third Ward district of Milwaukee, listed on the National
                Register of Historic Places as Milwaukee's oldest center of commerce and warehousing. It was the site
                of Milwaukee's most devastating fire in 1892, but within 30 years the district was completely rebuilt.
                Today the Third Ward is home to over 400 businesses, contains numerous art galleries, restaurants,
                luxury condominiums, and unique specialty stores.
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Turn left (north) on Milwaukee Street to Wisconsin Avenue.
                    Turn left (west) on Wisconsin Avenue through downtown Milwaukee and then through Marquette University
                    Campus
                </p>
            </td>
            <td>
                <p>
                    (After crossing the Milwaukee River) The Grand Avenue Mall covers the left side of the street for
                    the next few blocks. This downtown mall is really 5 buildings connected by 2 skyways. It is being
                    renovated and is a downtown shopping area that you can get to by taking the #30 bus from the UWM
                    campus.
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p>
                    After 4th Street, on the right side, you can see Wisconsin Center, a large and luxurious convention
                    center.
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p>
                    The Milwaukee Public Library, after 8th street, on the right side, is the central library and is one
                    of the city’s most beautiful historic landmarks. It has unique collections and millions of books.
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p>
                    (After crossing the Interstate Freeway) Now we are driving through the campus of Marquette
                    University. This school was built in the 1880s and is one of the most prestigious Catholic
                    universities in the world. On the grounds of Marquette is the St. Joan of Arc Chapel, which was
                    brought over in pieces from Lyon, France. It was originally built in France in the fifteenth-century
                    and was reconstructed on the Marquette University campus in 1965. It is the oldest building in North
                    America.
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p>
                    After 19th Street, on the right, is the Captain Frederick Pabst Mansion. This 37 room Flemish
                    Renaissance mansion was built in 1892 for world famous brewer Captain Frederick Pabst. Upon its
                    completion it was considered the jewel of Milwaukee’s Grand Avenue mansions. Tours are available
                    for $11 for students. Milwaukee was once known for many breweries, most of which no longer exist,
                    including Pabst, Schlitz, Lakefront, and Blatz.
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p>
                    You can mention that if we continue west on Wisconsin Avenue for 20 more blocks, we would pass
                    Miller Brewery, one of Milwaukee’s most well known businesses. Free tours are available. Do you
                    know what other business from Milwaukee is world famous? Harley Davidson Motorcycles, started in
                    1903.
                </p>
            </td>
        </tr>
        <tr>
            <td>Turn left (south) on 27th Street</td>
            <td>
                <p>
                    As we cross the bridge, you can see the Brewers baseball stadium on the right and a great view of
                    Milwaukee on the left. Also on the left are the Milwaukee Domes, or the Mitchell Park Horticultural
                    Conservatory. There are three separate domes, housing different types of climates; a rainforest, a
                    desert and a floral display. People who live in the city of Milwaukee can get into the domes without
                    charge on the first Thursday of the month except for major holidays. Otherwise the entrance fee is $8.
                    When you get tired of the snow in winter, come to the Domes and go to the desert or rainforest.
                </p>
            </td>
        </tr>
        <tr>
            <td>Continue south on 27th Street for awhile. Then Turn left (east) on Windlake for one long block then
                right unto Lincoln Avenue.</td>
            <td>
                <p>
                    Keep your eyes out for Burnham Street, on the northwest block there are 6 houses designed by Frank
                    Lloyd Wright, the world famous architect. He designed these houses to be prefabricated for less
                    money than most of his buildings. Go around that block if you are interested. Notice all the churches
                    on 27th.
                    This is again a good time for conversation to maybe learn more about the student’s background or to
                    see if they have any questions.
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p>
                    We are traveling through the Hispanic area of Milwaukee. It offers many authentic Hispanic
                    restaurants, grocery stores, shops, and a medical facility where Spanish is the primary language.
                    St. Josaphat’s Basilica is on the corner, it was built in the 1800s using the bricks brought from
                    the demolished Chicago Post Office by the congregation.
                </p>
            </td>
        </tr>
        <tr>
            <td>29</td>
            <td>
                Turn right (south) on 6th Street
            </td>
            <td>
                <p>
                    More time for conversation. Perhaps you can ask about their hobbies or interests when not attending
                    class or studying. You can also ask if they have some hopes or plans to travel and visit any other
                    places during their time in the U.S. This is an historically ethnic Polish area.
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <ul class="list-group">
                    <li class="list-group-item">
                        Turn left (east) on Oklahoma Avenue and continue until Lake Michigan
                    </li>
                    <li class="list-group-item">
                        Turn left (north) on Superior Street (this is a hard left at the lake)
                    </li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Turn right (east) on E. Meredith Street</td>
            <th></th>
        </tr>
        <tr>
            <td>30</td>
            <td>
                <p>
                    Turn left (north) on South Shore Dr. Stop # 3 at South Shore Park (right) – 20 minutes
                </p>
            </td>
            <td>
                You can park your car on the street for free and walk over to the shoreline. South Shore Park is a
                great place to enjoy a very scenic view of Milwaukee and to take some beautiful pictures to email home.
                I suggest you take one or two group photos here with the Milwaukee skyline in the background,
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <ul class="list-group">
                    <li class="list-group-item">
                        Turn right (west) on E. Nock
                    </li>
                    <li class="list-group-item">
                        Turn right (north) onto Superior Street
                    </li>
                    <li class="list-group-item">
                        Follow Superior to Russell. (Palamino’s restaurant on the corner)
                    </li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>31</td>
            <td>
                Turn right(east) unto Russell and follow the signs to I-794 North
            </td>
            <td>
                <p>
                    As we travel north on I-794 we can see the skyline of Milwaukee. The US Bank Building -
                    on your front left as we get on the bridge - is the tallest building with 42 floors 601 feet tall.
                    Further to the west is the old Wisconsin Gas Building, which has a flame shaped light on top. When
                    it is lit at night, it tells the weather.
                    When the flame is red, it's warm weather ahead! When the flame is gold, watch out for cold! When
                    the flame is blue, there's no change in view! When there's a flickering flame, expect snow or rain!
                </p>
            </td>
        </tr>
        <tr>
            <td>32</td>
            <td></td>
            <td>
                <p>
                    We are now crossing or about to cross the Hoan Bridge it is also known as “the bridge that used to
                    lead to nowhere.” Originally designed to connect with I-94, it currently ends near the airport. If
                    you look to the west you can see the Allen Bradley clock. It is the world’s largest 4 sided clock,
                    at one time they wanted to add a chime, but the English asked them not to so that Big Ben in London
                    would remain the largest chiming clock tower in the world.
                </p>
            </td>
        </tr>
        <tr>
            <td>33</td>
            <td></td>
            <td>
                <p>
                    Milwaukee has a shipping port, built in 1857, for barges and large boats traveling throughout the
                    Great Lakes. In 1956 the St. Lawrence Seaway opened, allowing ships from around the world to reach
                    Milwaukee. One of the newest additions to the Port of Milwaukee is the Lake Express, a ferry that
                    brings you and your car across Lake Michigan in about 3 hours. It makes it possible to go to Michigan
                    without driving through Chicago.</p>
            </td>
        </tr>
        <tr>
            <td>34</td>
            <td></td>
            <td>
                <p>
                    As we are about to get off the highway look to your right to see the Henry W. Maier Festival Park,
                    famous for hosting Summerfest, a large 11 day music festival over the fourth of July holidays. They
                    invite over 800 music bands of all styles from many countries, making it the largest music festival
                    in the world! The Park is also home to many other festivals including Festa Italiana, Black Arts Fest,
                    Polish Fest, Irish Fest, German Fest and Mexican Fiesta.
                </p>
            </td>
        </tr>
        <tr>
            <td>35</td>
            <td>
                Exit unto Lincoln Memorial Drive (north).
            </td>
            <td>
                Encourage the students to look at the sights or continue your conversations.
            </td>
        </tr>
        <tr>
            <td>36</td>
            <td>
                Continue on Lincoln Memorial Drive (north) passing all the beach parks
            </td>
            <td>
                <p>
                    On the right is Pier Wisconsin, home to Discovery World, an interactive museum of science and technology,
                    and the Dennis Sullivan, a re-creation of a ship from the 1880's. You can take 2 hour day sails on the
                    weekend from May to September for $40.
                </p>
            </td>
        </tr>
        <tr>
            <td>37</td>
            <td></td>
            <td>
                Then on the right side is a building hard to miss -- the Milwaukee Art Museum. Milwaukee’s premier art
                museum has over 25,000 paintings and works of art from past to the present. In 2001 the museum received
                a new addition, called the Calatrava, designed by Spanish-born architect, engineer, and sculptor Santiago
                Calatrava. His "brise soleil" wings open and close. He also designed the roof in the 2004 Olympic Stadium
                in Athens, Greece. There is free admission first Thursday of the month with your Student ID, or $12 any
                other day of the week.
            </td>
        </tr>
        <tr>
            <td>38</td>
            <td></td>
            <td>
                <p>
                    Still on your right is Veterans Park. built to honor the American soldiers who fought various wars
                    throughout US history. Here you can fly a kite, or rent roller blades, bikes, and paddle boats. On
                    July 3rd each year Eastbrook Student Ministry sponsors a party here to watch the Big Bang fireworks
                    display with food and games. Hope you can participate next year.
                </p>
            </td>
        </tr>
        <tr>
            <td>39</td>
            <td></td>
            <td>
                The Colectivo Coffee Shop is also located on the left side. It used to be a water pump house. Now it is
                a great place on the Lake to get a good cup of coffee and hang out with friends.
            </td>
        </tr>
        <tr>
            <td>40</td>
            <td></td>
            <td>
                <p>
                    On the Lake side, McKinley Marina provides a wonderful place to watch the boats going out into Lake
                    Michigan. It is also home to the UWM sailing club. Throughout the summer you can take a ride on a
                    sailboat, prices start at around $35 per person.
                </p>
            </td>
        </tr>
        <tr>
            <td>41</td>
            <td></td>
            <td>
                <p>
                    On the right is Lake Michigan and up ahead is Bradford Beach, Milwaukee’s largest beach. This is
                    where the “Polar Bear Club” meets on New Years Day to go swimming! No matter what the temperature,
                    they wear only a swim suit and digging a hole through the ice if necessary, they jump all the way
                    into water. You can join them this New Years if you like swimming in ice water!
                </p>
            </td>
        </tr>
        <tr>
            <td>42</td>
            <td></td>
            <td>
                <p>
                    Lake Park is on the left. It was designed by Frederick Olmsted, the same man who designed Central
                    Park in New York City. The North Point Lighthouse, when lit can be seen for 25 miles. Seasonal
                    activities include hiking trails, tennis courts, and a golf course.
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                Stay straight at stop-and-go light onto Kenwood (west) towards the UWM campus
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                PLEASE GO TO YOUR ASSIGNED HOME FOR DINNER – Plan to arrive about 5:00pm. Students should be back
                to campus by 7.
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
    
    <hr />

    <h4>
        Thank you for coming on the tour. I hope that you have enjoyed seeing our city. We are now going to a
        home for our dinner.
    </h4>
</div>